@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';
.todo-view {
  width: 100%;
  max-width: 500px;
  margin: auto;
  @media (max-width: $xxs) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
  &__container {
    @include shadow();
    border-radius: 10px;
  }
}
