@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

#root {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  height: 100%;
  @include font-text('desktop');
  @media (max-width: $md) {
    @include font-text('mobile');
  }
}
