/* A mixin that can be used to set font styles depending on the device type. */
@mixin font-title($device) {
  color: $color-secondary;
  @if $device== 'desktop' {
    font: normal 700 48px/1.4 'Roboto', sans-serif;
  }
  @if $device== 'mobile' {
    font: normal 700 40px/1.4 'Roboto', sans-serif;
  }
}

@mixin font-text($device) {
  color: $color-primary;
  @if $device== 'desktop' {
    font: normal 400 16px/1.4 'Roboto', sans-serif;
  }
  @if $device== 'mobile' {
    font: normal 400 16px/1.4 'Roboto', sans-serif;
  }
}

/* Mixin that can be used to create a shadow. */
@mixin shadow {
  box-shadow: 0 3px 20px 2px rgb(0 0 0 / 0.3);
}

/* Mixin that can be used to create a transition. */
@mixin transition {
  transition: all 0.3s linear;
}
